@font-face {
    font-family: 'PoliticsHeadBold';
    font-style: normal;
    font-weight: normal;
    src: local('☺'), local('PoliticsHeadBold'), url('../fonts/PoliticsHeadBold.woff') format('woff');
}

a {
    font-weight: bold;
    color: #cccccc;
}

table {
    margin: 0 auto;
    text-align: left;
}

td, th {
    padding: 0px 10px;
}

.pirate-highlight {
    font-family: 'PoliticsHeadBold', 'DejaWeb', 'Helvetica Neue', 'Arial', Sans-Serif;
    color: #000000;
    border: 6px solid #ffffff;
    background: linear-gradient(to top,  #ffcc04 0%, #f39200 100%);
    box-shadow: 2px 4px 6px;
    display: inline-block;
    padding: 3px 12px;
    line-height: 53px;
    margin: 15px;
    transform: rotate(-1deg);
}

.pirate-highlight a {
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

html {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: auto;
    color: #cccccc;
}

.content {
    position: relative;
    height: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 800px;
    z-index: 10;
}

.content > h1 img {
    width: 500px;
    height: 107px;
}

.background {
    height: 100%;
    width: 100%;
    background: url('../images/background.jpg') no-repeat center 30% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.people ul {
    padding: 0;
}

.posters ul {
    padding: 0;
}

.person {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    margin: 5px;
}

.person > div {
    position: relative;
    overflow: hidden;
}

.person .alternative {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    opacity: 0;
    transition: transform 0.8s, opacity 0.4s;
}


.person:hover .alternative {
    transform: rotate(3deg);
    opacity: 1;
}

.person img {
    height: 370px;
    width: 300px;
    object-fit: cover;
    object-position: 15% 20%;
    color: #000000;
    box-shadow: 2px 4px 6px;
    border: white 20px solid;
    border-bottom-width: 60px;
}

.person .share-bar {
    position: absolute;
    right: 26px;
    top: 66px;
    list-style: none;
}

.person .share-bar li {
    margin-bottom: 10px;
}

.person .share-btn.facebook-messenger {
    display: inline-block;
}

.person .name {
    font-family: 'PoliticsHeadBold';
    color: black;
    background: #ffcc04;
    padding: 3px 12px 3px 12px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 1.6em;
    transform: rotateZ(-2deg);
}

.person .study {
    font-weight: bold;
    color: black;
    background: #ffcc04;
    padding: 3px 12px 3px 12px;
    position: absolute;
    bottom: -5px;
    left: 36px;
    font-size: 1em;
    transform: rotateZ(-2deg);
}

.posters {

}

.poster {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    list-style: none;
    margin: 5px;
    overflow: hidden;
}

.poster:hover {
    transform: rotate(2deg);
    transition: transform 0.2s;
}

.poster img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    color: #000000;
    box-shadow: 2px 4px 6px;
}

.program p {
    text-align: left;
}

.text-box {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border: #65497f 10px solid;
    color: #373a3c;
    overflow-x: auto;
}

.text-box a {
    color: #373a3c;
}

body > footer {
    font-family: 'Helvetica Neue', 'Arial', Sans-Serif;
    color: #cccccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
}

body > footer a {
    color: #cccccc;
}

.share-btn {
    display: inline-block;
    color: #ffffff !important;
    border: none;
    padding: 0.2em;
    width: 2em;
    outline: none;
    text-align: center;
    border-radius: 2em;
}

.share-btn:hover {
    position: relative;
    top: 2px;
    color: #eeeeee;
}

.share-btn.facebook {
    background: #3B5998;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.google-plus {
    background: #dd4b39;
}

.share-btn.facebook-messenger {
    display: none;
    background: #0084ff;
}

.share-btn.whatsapp {
    display: none;
    background: #25d366;
}

.share-btn.telegram {
    background: #0088cc;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 992px) {
    .content > h1 img {
        width: 90%;
        height: auto;
    }

    .content {
        margin-bottom: 100px;
    }

    .text-box {
        width: 100%;
    }

    body > footer {
        margin-top: 40px;
        position: relative;
        margin-bottom: 20px;
    }

    body > footer div {
        text-align: center !important;
    }
}
